{% extends "echowaves/views/templates/base.html" %}

{% block content %}
<div id="contentwrap">
  <div id="content">
    {% if not wave %}

    <h1>Micro Photo Blogging</h1>

    <p>Register your wave for free on <a href="https://itunes.apple.com/us/app/echowaves/id782010386">iPhone</a></p>

    <p>Use your iPhone to take pictures, 
Manage your wave on iPhone or on the echowaves.com web site.</p>

<p>Pictures you take compose a wave. You can mix your wave with other
  waves, which will create a continuous stream.</p>

<h1>Echowaves is not your typical social network. Things that take it
  apart from the others:</h1>



<ul>
  <li>
    <h2>Primary focus of echowaves is mobile</h2>
    While there is echowaves.com web site, you really want to use iPhone to get the most out of echowaves. 
  </li>
  <li>
    <h2>Echowaves is simple</h2>
    Simplicity is the goal, EW offers minimalistic user interface, EW offers limited set of features, but these features are perfected to an extreme. 
  </li>
  <li>
    <h2>Echowaves is all about pictures</h2>
    There are no text comments or messages, use your iPhone camera to express yourself or to update your friends on what you are currently up to. 
  </li>
  <li>
    <h2>Echowaves is seriously anti spam</h2>
    EW will never send you any emails, EW never asks you about your email.   
  </li>
  <li>
    <h2>Echowaves is taking privacy concerns to an extreme</h2>
    EW does not know who you are and never stores any tracking data.  
  </li>
</ul>

    <hr>



    <div class="step-container">
      <div class="step-image">
        <img src="/i/step1.jpg" height="400">
      </div>
      <div class="step-text">
        1. download an iPhone app:
        <a href="https://itunes.apple.com/us/app/echowaves/id782010386">https://itunes.apple.com/us/app/echowaves/id782010386</a>
      </div>
    </div>

    <br>

    <div class="step-container">
      <div class="step-image">
        <img src="/i/step4.jpg" height="400">
      </div>
      <div class="step-text">
        2. make sure waving is turned on (the green "Currently Waving" switch).
      </div>
    </div>

    <div class="step-container">
      <div class="step-image">
        <img src="/i/step5.jpg" height="400">
      </div>
      <div class="step-text">
        3. while waving is on, start taking pictures with your iPhone camera.
      </div>
    </div>

    <br>

    <div class="step-container">
      <div class="step-image">
        <img src="/i/step6.jpg" height="400">
      </div>
      <div class="step-text">
        4. switch back to EchoWaves by tapping on "home"
        button twice.
      </div>
    </div>

    <br>

    <div class="step-container">
      <div class="step-image">
        <img src="/i/step7.jpg" height="400">
      </div>
      <div class="step-text">
        5. the pictures you took, while waving was turned on, will
        begin uploading immidiately. There is a blue progress bar
        indicator. You can cancel currently uploading picture by
        tapping on the red "Cancel Image" button. A number, overlaying
        in the middle of the currently uploading picture, indicates
        how many pictures are left to be uploaded.
      </div>
    </div>

    <br>


    6. see your pictures on echowaves.com web site
    <br>
    7. blend your wave with other waves -- this is how you share
    <br>


    <hr>
    <h1>Echowaves facts:</h1>
    <h2>Echowaves is not your typical social network:</h2>
    <p>While there are plenty of social networks in existance, we felt
      that non of them does exctly what we want -- so the echowaves was
      born.</p>
    <p>Actually, all of social networks these days try to do everything and, as a
    result, they do not do a specific thing very well.</p>
    <p>We strive to keep echowaves simple, secure and reliable.</p>

    <h2>Echowaves is Micro Photo Blogging:</h2>
    <p>Take pictures with your phone, as many as you want, where ever you
      go, what ever you do -- just keep snapping. We strongly believe --
      it's much easier to snap a picture, than to type a 140
      characters to tell your story.
    </p>
    <h2>Echowaves respects your privacy:</h2>
    <p>We strongly believe that your privacy is what you should be in
      control, not your social network. As such, it's crucial to keep
      things simple from the beginning.</p>
    <p>
      In echowaves nothing happens by default -- if you are sending a
      blending request to other wave -- it must always we confirmed.
      Only when both waves agree to blend -- only then the blending
      relationship will be established.</p>
    <p>Every modern social network sends out tons of email (spam) -- except
      for echowaves. Echowaves does not even asks you for your email
      address when you register a wave -- because we strongly believe,
      that knowing your email address reveils too much personal
      information about you, so we avoid it.</p>

    <h2>Echowaves metaphor:</h2>
    <p>It helps to think about echowaves as a metaphor. This is very
      simple, yet -- very strong metaphor. Here is how the metaphor
      corresponds to the terms you maybe more familier with:</p>
    
    <h3>Account == Wave</h3>
    <h3>Sign in to your account == Tune into wave</h3>
    <h3>Sign out == Tune Out</h3>
    <h3>Stream of messages == EchoWave</h3>
    <h3>Sharing == Blending</h3>
    <h3>Waving == telling your story with pictures taken on your
    iPhone</h3>
    
    <p>
      Echowaves is instant -- there is no quicker way to share a
      photo stream, than to snap a bunch of pictures on your iPhone,
      then switch to echowaves application to have them natuarally
      flow over to your wave.</p>
    
    <p>Over time echowave fades out (just like a real wave, or like
    an echo) -- you can only see 100 last
    pictures in your echowave.</p>

                                             
    <h2>Echowaves is still very young:</h2>
    <p>Echowaves is running in test drive mode -- early adopter's
    feedback is highly appreciated.</p>
    <p>Send your thougts to dmitry@echowaves.com</p>

    <h2>Echowaves has future:</h2>
    <p>Our vision is that echowaves will eventually have only mobile
    phone user inteface -- bear with us...</p>
    
    <h1>Happy waving!</h1>

    {% else %}
    show my wave  
    {% endif %} 
  </div>
</div>

<div id="rightcolumnwrap">
  <div id="rightcolumn">
    {% include "echowaves/views/templates/t_registration_form.html" %}
  </div>
</div>

{% endblock %}
