{% extends "echowaves/views/templates/base.html" %}

{% block content %}
<div id="contentwrap">
  <div id="content">
    {% if not wave %}
    <h2>follow 3 simple steps:</h2>
    <h3>  1. create your wave</h3>
    <h3>  2. download an iPhone app</h3>
    <pre>     
      A first version is submitted to iTunes on December 13, will be
      posting a link as soon as it appears on the iTunes store.
    </pre>
    <h3>  3. start waving</h3>
    <!--p>Here are some recent waves:</p-->
    
    {% for wave in echowaves %}
    <div class="thumbnail">
      <a href="{{context}}/wave/{{wave.wave_name}}">
        <img 
           src="{{context}}/img/{{wave.wave_name}}/{{thumb-prefix}}{{wave.image_name}}"/>
      </a>
    </div>
    {% endfor %}
    
    {% else %}
    show my wave  
    {% endif %} 
  </div>
</div>

<div id="rightcolumnwrap">
  <div id="rightcolumn">
    {% include "echowaves/views/templates/t_registration_form.html" %}
  </div>
</div>

{% endblock %}
