{% extends "echowaves/views/templates/base_mobile.html" %}

{% block content %}
<div id="contentwrap">
  <div id="content">
    testing mobile...
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var deviceDetection = function () { 
var osVersion, 
device, 
deviceType, 
userAgent, 
isSmartphoneOrTablet; 

device = (navigator.userAgent).match(/Android|iPhone|iPad|iPod/i); 

if ( /Android/i.test(device) ) { 
    if ( !/mobile/i.test(navigator.userAgent) ) { 
        deviceType = 'tablet'; 
    } else { 
        deviceType = 'phone'; 
    } 

    osVersion = (navigator.userAgent).match(/Android\s+([\d\.]+)/i); 
    osVersion = osVersion[0]; 
    osVersion = osVersion.replace('Android ', ''); 

} else if ( /iPhone/i.test(device) ) { 
    deviceType = 'phone'; 
    osVersion = (navigator.userAgent).match(/OS\s+([\d\_]+)/i); 
    osVersion = osVersion[0]; 
    osVersion = osVersion.replace(/_/g, '.'); 
    osVersion = osVersion.replace('OS ', ''); 

} else if ( /iPad/i.test(device) ) { 
    deviceType = 'tablet'; 
    osVersion = (navigator.userAgent).match(/OS\s+([\d\_]+)/i); 
    osVersion = osVersion[0]; 
    osVersion = osVersion.replace(/_/g, '.'); 
    osVersion = osVersion.replace('OS ', ''); 
} 
isSmartphoneOrTablet = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent); 
userAgent = navigator.userAgent; 

return { 'isSmartphoneOrTablet': isSmartphoneOrTablet, 
         'device': device, 
         'osVersion': osVersion, 
         'userAgent': userAgent, 
         'deviceType': deviceType 
        }; 
}();


function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
    }
    console.log('Query variable %s not found', variable);
}


window.onload = function(){
  var response;
  var clickedAt = +new Date;

  if(deviceDetection.device == 'Android') {

    response = "You are waving on Android.";

    setTimeout(function() {
      if (+new Date - clickedAt < 2000) {                        
        window.location = "market://details?id=com.echowaves.android&token=" + getQueryVariable('token');
      }
    }, 50);
    window.location = "echowaves://share?token=" + getQueryVariable('token');

  } else if (deviceDetection.device == 'iPhone' || deviceDetection.device == 'iPad' || deviceDetection.device == 'Android') {

    response = "You are waving on iPhone or iPad.";

    setTimeout(function() {
      if (+new Date - clickedAt < 2000) {                        
        window.location = "itms-apps://itunes.apple.com/us/app/echowaves/id782010386?token=" + getQueryVariable('token');
      }
    }, 500);
    window.location = "echowaves://share?token=" + getQueryVariable('token');


  } else {
    response = "Oops, your mobile phone is not supported, or you are not waving on mobile. Echowaves can only wave on Android or IOS at this time";
  }
  //alert(getQueryVariable('token'));
  $('#content').html(response);

}

</script>
{% endblock %}


