{% extends "echowaves/views/templates/base.html" %}

{% block content %}

<h1>Privacy Policy</h1>

At Echowaves we care about the privacy of our users. If you use any of the Sites hosted by Echowaves you must accept the way we handle personal information that is described below.

<h1>Purpose of this document</h1>
Within the Echowaves.com Services Users are allowed to post Content, create profiles and communicate with other Users. For the Services to work it is required that some personal information is collected and selected information is displayed publicly. This Privacy Policy describes the way the personal information is used within the Echowaves Services.

We will update the privacy policy from time to time. The most current version of the policy is always available at: http://echowaves.com/privacy

Personal information is data required to identify individual users, such as user name, email address, telephone number, IM identifier etc. and also activity of an individual and any other information that is linked to an individual.

<h1>What we collect and how we use personal information</h1>
Echowaves.com collects information required for proper user account handling and user identification such as: screen name (and password). 

The Services also logs other information including IP address and browser type from both registered Users and anonymous visitors. This data is used for technical purposes of running the Services, monitor and analyze trends and improve the Services and for security and monitoring purposes. These aggregate data (with any individual information stripped such that no connection to individual users can be made) can be shared with third-parties to provide more relevant services and advertisements.

<h1>Cookies</h1>
Echowaves.com Services use Cookies to uniquely identify and record session information. This is required for proper Service operation. Users with cookies disabled in their browsers will not be able to fully interact with the Services.

<h1>Security</h1>
Echowaves.com User accounts are protected by user-created passwords.

Echowaves.com uses various techniques against unauthorized access to the information that result from hacking activity such as cross server scripting (XSS), session stealing, sniffing and many others.

The data stored on our database servers is kept with a reasonable protection against unauthorized access and accessible only by minimal number of employees. We however can not guarantee protection against unauthorized use, hardware or software failure and other factors that may compromise the security of User information that is beyond our control.

In particular we also take no responsibility for unauthorized access that results from Users sharing their password with others or not taking sufficient security measures when using public computers.

<h1>Sharing the information</h1>
No User information is shared or disclosed as described above without user acceptance except when it is required by law. 


{% endblock %}
