<div id="blends_requests_wrapper">
  <div class="ui-widget">
    <label for="wave_name">Blend with Wave:</label>
    <input id="wave_name">
  </div>

  <div class="ui-widget" style="margin-top:2em; font-family:Arial">
  </div>

  <div id="blends_requests">
    <ul id="requested-blends" class="my-blends">
    </ul>
  </div>
</div>

<!-- blends that are requirested by not confirmed will show in this list -->
<!-- but with greyd out color -->
<div id="blends_wrapper">
  Already Blended:
  <div id="blends">
    <ul id="unconfirmed-blends" class="my-blends">
    </ul>
    <ul id="blended-with" class="my-blends">
    </ul>

  </div>
</div>
