{% extends "echowaves/views/templates/base.html" %}

{% block content %}
<div class="echowaves">
   <div id="error"></div>     
   <div>		
   {% for pic in pictures %}
      <div class="thumbnail">
         <a class={{pic.name}} href="/img/{{pic.wave_name}}/{{pic.name}}">
            <img src="{{context}}/img/{{pic.wave_name}}/{{thumb-prefix}}{{pic.name}}"/>
            {% ifequal wave page-owner %}
            <input id="{{pic.name}}" 
                   name="{{pic.name}}"
                   type="checkbox" 
                   value="true" />
            {% endifequal %}
         </a>
      </div>
      {% endfor %}
      {% ifequal wave page-owner %}
      <input id="delete" type="submit" value="delete images" />
      {% endifequal %}
   </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  echowaves.init();
</script>
{% endblock %}
