{% extends "echowaves/views/templates/base.html" %}

{% block content %}

<div id="contentwrap">
  <div id="content">
    <div id="error"></div>     
    {% for image in images %}
    <div class="thumbnail">
      <a class={{image.name}} href="/img/{{image.name_2}}/{{image.name}}">
        <img src="{{context}}/img/{{image.name_2}}/{{thumb-prefix}}{{image.name}}"
        onload="this.width/=2;"/>
      </a>
      <br/>
      {% ifequal image.name_2 page-owner %}
      <input id="{{image.name}}" 
             name="{{image.name}}"
             type="checkbox" 
             value="true" />
      {% endifequal %}
      <span>{{image.name_2}}</span>
    </div>
    {% endfor %}
    <br style="clear:both"/>
    {% ifequal wave page-owner %}
    <div>
      <input id="delete" type="submit" value="delete selected images" />
    </div>
    {% endifequal %}
    <br style="clear:both"/>
  </div>
</div>

<div id="rightcolumnwrap">
  <div id="rightcolumn">
    {% include "echowaves/views/templates/t_blends.html" %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  echowaves.init();
</script>
{% endblock %}
