{% extends "echowaves/views/templates/base.html" %}

{% block content %}

<div id="contentwrap">

<div>
  <select id="waves-picker">
  </select>
</div>


  <div id="content">
    <div id="error"></div>     
    {% for image in images %}
    <div class="thumbnail">
      <a class={{image.name}} href="http://{{aws-bucket}}/img/{{image.name_2}}/{{image.name}}">
        <img src="http://{{aws-bucket}}/img/{{image.name_2}}/{{thumb-prefix}}{{image.name}}"
        onload="this.width > 800 ? this.width = 700 : this.height = 200;"/>
      </a>
      <br/>
      <span>{{image.name_2}}</span>
    </div>
    {% endfor %}
    <br style="clear:both"/>
  </div>
</div>

<!--div id="rightcolumnwrap">
  <div id="rightcolumn">
    { include "echowaves/views/templates/t_blends.html" }
  </div>
</div-->

{% endblock %}

{% block scripts %}
<script>
  echowaves.init();
</script>
{% endblock %}
